:root {
  --primary-color: rgba(186, 0, 24, 1);
  --secondary-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a:hover {
  font-weight: 800;
  opacity: 0.5;
}